    <!-- Stake Section -->
    <section id="stake" class="content-section text-center">
        <div class="stake-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Stake with ADASTASH</h2><br>
                    <p><font size="4">We are getting things ready, stay tuned!</font></p>
                    <p><font size="5" class="awesome">STASH</font></p>
                    <a href="https://shelleyexplorer.cardano.org/en/stake-pool/7a738b1ed64df171627e25cacee9cefeb0d58bbd451d2f22b39b9285e1e7f032/" class="btn btn-default btn-lg><font size="1">7a738b1ed64df171627e25cacee9cefe<br>b0d58bbd451d2f22b39b9285e1e7f032</font></a></p>
                </div>
            </div>
        </div>
    </section>